{% extends 'base.html' %}
{% load static %}

{% block titulo %}
<title>{{empleo.puesto}}</title>
{% endblock %}

{% block contenido %}
    <div class="espaciado_nav"></div>  

    <div class="comentarios_card">
        <h3>seccion de comentarios</h3>
    </div>
    <div class="el_detalle">
        <div class='card_detalle'>
            <h2>{{empleo.puesto}}</h4>
            <h2>{{empleo.empresa}}</h3>
            <h2>{{empleo.vacantes}}</h2>
            <h2>{{empleo.modalidad}}</h2>
        </div>  
    </div>
{% endblock %}