{% extends 'base.html' %}
{% load static %}

{% block titulo %}
<title>Empleos</title>
{% endblock %}


{% block contenido %}
    <div class="espaciado_nav"></div>

    <div class="categorias">
        <ul>
            {% for categoria in categorias %}
            <li>
                <a aria-current="page" href="{% url 'apps.empleos:lista_por_categoria' categoria.nombre %}">{{categoria.nombre}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="empleo-container">
        {% for empleo in empleos %}
            <div class="contenedor_empleo">
                <div class="card_empleo">
                    <img class="logo_empresa" src="{{empleo.empresa.logo.url}}" alt="{{empleo.empresa}}"/>
                    <div class="contenido_card_empleo">
                        <div class="puesto">
                            {{ empleo.puesto }}    
                        </div>
                        <div class="empresa">
                            {{ empleo.empresa }}
                        </div>
                        <div class="fecha_p">
                            {{ empleo.fecha_publicacion }}
                            <a href="{% url 'apps.empleos:detalle_empleo' empleo.pk %}">Ver mas</a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}
    </div>
    <br>
    
{% endblock %}
