{% extends 'base.html' %}
{% load static %}

{% block titulo %}
<title>Empleos</title>
{% endblock %}

{% block contenido %}
    <div class="boton_publicar">
        <a href="{% url 'apps.empleos:agregar_empleo' %}">
            <div style="width: 100%; height: 100%; padding: 10px; background: #106035; border-radius: 15px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                <div style="width: 25px; height: 25px; border: 1px #E0E0E0 solid"></div>
                <div style="color: #E0E0E0; font-size: 25px; font-weight: 900; word-wrap: break-word">Publicar empleo</div>
            </div>
        </a>
    </div>
    <br>
     
    
   {% for empleo in empleos %}
        <div class="contenedor_empleo">
            <div class="card_empleo">
                <img class="logo_empresa" src="{{empleo.empresa.logo.url}}" alt="{{empleo.empresa}}"/>
                <div class="contenido_card_empleo">
                    <div class="puesto">
                        {{ empleo.puesto }}    
                    </div>
                    <div class="empresa">
                        {{ empleo.empresa }}
                    </div>
                    <div class="fecha_p">
                        {{ empleo.fecha_publicacion }}
                        <a href="{% url 'apps.empleos:detalle_empleo' empleo.pk %}">Ver mas</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
     {% endfor %}
   

{% endblock %}
   