{% extends 'base.html' %}
{% load static %}

{% block titulo %}
<title>Mis Empleos</title>
{% endblock %}


{% block contenido %}
    <div class="espaciado_nav"></div>

     <form method="GET" style="display: flex; flex: 1; justify-content: center; width:100%;">
        <input type="text" name="buscador" placeholder="   Buscar empleo..." style="width:60%; border-radius: 30px; border: 1px solid #C5C5C5; box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);"/>
        <button type="submit" class="btn btn-primary"style="background-color:#13417E; color: white; margin-left: 10px; border-radius: 30px;">Buscar</button>
    </form>

    <div class="categorias">
        <ul>
            {% for categoria in categorias %}
            <li>
                <a aria-current="page" href="{% url 'apps.empleos:lista_por_categoria' categoria.nombre %}">{{categoria.nombre}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <br>

    <div class="empleo-container">
        {% for empleo in empleos %}
            <div class="contenedor_empleo">
                <div class="card_empleo">
                    <img class="logo_empresa" src="{{empleo.empresa.logo.url}}" alt="{{empleo.empresa}}"/>
                    <div class="contenido_card_empleo">
                        <div class="puesto">
                            {{ empleo.puesto }}    
                        </div>
                        <div class="empresa">
                            {{ empleo.empresa }}
                            <p>Administrador: {{empleo.empresa.administrador}}</p>
                        </div>
                        <div class="fecha_p">
                            {{ empleo.fecha_publicacion }}
                            <a class="editar" href="{% url 'apps.empleos:editar_empleo' empleo.pk %}">Editar</a>
                            <a class="eliminar" href="{% url 'apps.empleos:eliminar_empleo' empleo.pk %}">Eliminar</a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}
    </div>
    <p style="color:gray; text-align: center;">&copy;Informatorio2023 - Arce Mauricio, Monzon Augusto, Zibecchi Daniel - Comision 4</p>
{% endblock %}