{% extends 'base.html' %}
{% load static %}

{% block titulo %}
<title>Registrar usuario</title>
{% endblock %}

{% block contenido %}
<div style="background-image: url('{% static 'img/registrar.svg' %}'); background-repeat: no-repeat; background-size: cover; background-position: top;">
<div class="container" >
    <h1 style="color: #1E1E1E;font-family: Lato;font-size: 25;font-style: normal;font-weight: 700;line-height: normal; padding-top: 5rem;">Te damos la bienvenida!</h1>
    <form method="post">
        {% csrf_token %}
    <div class="form-group">
        <label class="form-label"  style="color: #000;font-family: Lato;font-size: 22px;font-style: normal;font-weight: 400;line-height: normal;">Nombre</label>
        {{ form.nombre }}
    </div>
    <div class="form-group">
        <label class="form-label" style="color: #000;font-family: Lato;font-size: 22px;font-style: normal;font-weight: 400;line-height: normal;">Apellido</label>
        {{ form.apellido }}
    </div>
    <div class="form-group">
        <label class="form-label" for="typeEmailX-2" style="color: #000;font-family: Lato;font-size: 22px;font-style: normal;font-weight: 400;line-height: normal;">Email</label>
        {{ form.email }}
    </div>
    <div class="form-group">
        <label class="form-label"  style="color: #000;font-family: Lato;font-size: 22px;font-style: normal;font-weight: 400;line-height: normal;">Usuario</label>
        {{ form.username }}
    </div>
    <div class="form-group">
        <label class="form-label"  style="color: #000;font-family: Lato;font-size: 22px;font-style: normal;font-weight: 400;line-height: normal;">Contrasena</label>
        {{ form.password1 }}
    </div>
    <div class="form-group">
        <label class="form-label"  style="color: #000;font-family: Lato;font-size: 22px;font-style: normal;font-weight: 400;line-height: normal;">Confirmar contrasena</label>
        {{ form.password2 }}
    </div>
    <div class="form-group">
        <label class="form-label"  style="color: #000;font-family: Lato;font-size: 22px;font-style: normal;font-weight: 400;line-height: normal;">Genero</label>
        {{ form.genero }}
    </div>
    <div class="form-group">
        <label class="form-label" for="typeEmailX-2" style="color: #000;font-family: Lato;font-size: 22px;font-style: normal;font-weight: 400;line-height: normal;">Localidad</label>
        {{ form.localidad }}
    </div>
    <div class="form-group">
        <label class="form-label"  style="color: #000;font-family: Lato;font-size: 22px;font-style: normal;font-weight: 400;line-height: normal;">DNI</label>
        {{ form.dni }}
    </div>
    <div class="form-group">
        <label class="form-label"  style="color: #000;font-family: Lato;font-size: 22px;font-style: normal;font-weight: 400;line-height: normal;">Fecha de nacimiento</label>
        {{ form.fecha_nacimiento }}
    </div>
    <div class="form-group">
        <label class="form-label"  style="color: #000;font-family: Lato;font-size: 22px;font-style: normal;font-weight: 400;line-height: normal;">Imagen</label>
        {{ form.imagen }}
    </div>
    <hr class="my-1">
    <div class="form-group" style="text-align: center" >
        <input class="btn btn-primary" type="submit" value="Registrarte" style="border-radius: 15px;background: #106035;box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);display: inline-flex;padding: 14px;justify-content: center;align-items: center;gap: 10px;">
    </div>
    </form>
    <hr class="my-2">
    <div style="color: #000;text-align: center;font-family: Lato;font-size: 25px;font-style: normal;font-weight: 400;line-height: normal;">
        <p style="color: #000;">Ya tienes una cuenta</p>
        <a href="{% url 'apps.usuarios:iniciar_sesion' %}"style="color: #185FBE;" class='subrayado'>Ingresar</a>

    </div>
</div>
</div>



{% endblock contenido %}