/* ----- ESTILOS DE TODA LA PAGINA ---- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

/* ----- ESTILOS DE LA BARRA DE NAVEGACION ---- */
nav {
  position: fixed;
  top: 0;
  background-color: #F4F4F4;
  width: 100%;
  height: 9vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

.nav_logo{
  display: flex;
  margin-left: 1rem;
  margin-top: 1rem;
}
.nav_logo img {
  width: 5.1rem;
  height: 5.1rem;
  border-radius: 6.25rem;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.nav_secciones{
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.nav_secciones button{
  height: 2rem;
  width: 6rem;
  border-radius: 0.7rem;
  align-items: center;
  justify-content: center;
  background-color: #158449;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #F4F4F4;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: inline-flex;
  text-shadow: 1px 1px 0px #1B1C1E;
  border: 0.1px solid #2b2c2f;
  margin-right: 1.3rem;
}

.nav_secciones a{
  display: inline-flex;
  color: #1B1C1E;
  padding: 0.5rem;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* ----- ESTILOS DEL BODY ---- */
.inicio_principal{
  display:flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  z-index: 0;
}
.contenido_arriba{
  width: 100%;
  display: flex;
  position: relative;
  height: 60vh;
}
.svg_azul{
  position: absolute;
  display: flex;
  width: 100%;
  height: 25rem;
}
.svg_azul svg{
  height: 100%;
  width: 100%;
  fill: rgba(24, 95, 190, 0.95);
}
.titulo{
  position: relative;
  float: left;
  z-index: 1;
  top: 8rem;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 1.5rem;
  padding: 1rem;
}
.titulo h1{
  color: #FFF;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-shadow: 1px 1px 0px #2b2c2f;
}

.titulo button{
  border: 1px solid #2b2c2f;
  width: 6rem;
  height: 2rem;
  position: absolute;
  text-shadow: 1px 1px 0px #303236;
  background-color: #158449;
  z-index: 1;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: inline-flex;
  padding: 0.9375rem;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 0.5rem;
}

.imagen_inicio{
  position: relative;
  top: 7.5rem;
  right: 5.3rem;
  float: right;
  width: 500px;
  height: 500px;
}

.svg_verde{
  position: relative;
  z-index: 0;
  width: 100%;
  height: 20rem;
}
.svg_verde svg {
  height: 100%;
  width: 100%;
  fill: rgba(16, 96, 53, 0.25);
}

/* ----- ESTILOS DEL FOOTER ---- */


/* ----- AGREGAR_EMPLEO.html ---- */
.empleo {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/trabajo.jpg');
  background-size: 100%;
}

#titulo_empleo{
  color: #F4F4F4;
  font:bold;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  margin-top: 4.5rem;
  margin-bottom: 0;
}


.publicar{
  color: #f4f4f4;
  margin-top: 0.5rem;
  background-color: #158449;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  text-shadow: 1px 1px 0px #1B1C1E;
  border-radius: 10px;
}
