{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block titulo %}
    {% endblock titulo %}

    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>

<body>
    <header>
        {% include 'navegacion.html' %}
    </header>
    
    <main>
        {% block contenido %}
        {% endblock contenido %}
    </main>

    <footer>
        <h3> &copy; Informatorio 2023 - Comisión 4 </h3>
    </footer>
</body>

</html>