{% load static %}
<nav>
    <div class="nav_logo">
        <a href="{% url 'inicio' %}">
            <img src=" {% static 'img/logo_chacoempleos.png' %}" alt="ChacoEmpleos logo">
        </a>
    </div>
    <div class="nav_secciones">
        <a href="{% url 'apps.usuarios:registrar' %}">Ver empresas</a>
        <a href="{% url 'apps.usuarios:registrar' %}">¿Quienes somos?</a>
        <a href="{% url 'apps.usuarios:registrar' %}">Crea tu cuenta</a>
        <a href="{% url 'apps.usuarios:iniciar_sesion' %}">
            <button>Ingresar</button>
        </a>
    </div>
</nav>